body{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    font-size: xx-large;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
